<br>
<div class="ui middle aligned four column centered  container">
	<div class="ui middle aligned centered four column grid">
		<div class="row">
			<h2 class="ui header">
			<img src="/assets/images/tool.png" class="ui circular image">
			<%= __('Missions Completed') %>
			</h2>
		</div>
		<div class="ui divider"></div>
		<div class="row">
			<div class="column" ng-repeat="user in missionClearedList" ng-if="$index < 3">
				<img class="ui small circular image" src="{{user.photo_url}}">
				<div class="ui statistic">
					<div class="value" ng-bind="user.count"></div>
					<div class="label">
						<%= __('Missions completed') %>
					</div>
				</div>
			</div>
		</div>
		<br>
		<button ng-click="showDetail()"><%= __('More') %></button>
	</div>
	
	<div class="ui middle aligned centered four column grid">

		<div class="row">
			<h2 class="ui header">
			<img src="/assets/images/tool.png" class="ui circular image">
				<%= __('Tool Quality') %>
			</h2>
		</div>
		<div class="ui divider"></div>

		<div class="ui top attached tabular menu">
		  <a class="item active" data-tab="Tool">Tool</a>
		  <a class="item" data-tab="Bike">Bike</a>
		  <a class="item" data-tab="Homework">Homework</a>
		</div>
		<!-- Tool Tag Rank -->
		<div class="ui bottom attached active tab segment" data-tab="Tool">
			<div class="ui middle aligned centered four column grid">
				<div class="row">
					<div class="column" ng-repeat="user in totalQuality" ng-if="$index < 3">
						<img class="ui small circular image" src="{{user.photo_url}}">
						<div class="ui statistic">
							<div class="value" ng-bind="user.ranking"></div>
							<div class="label">
								<%= __('Avg Ranking') %>
							</div>
						</div>
					</div>
				</div>
			</div>
			<button ng-click="showRanking()"><%= __('More') %></button>
		</div>

		<div class="ui bottom attached tab segment" data-tab="Bike">
			<div class="ui middle aligned centered four column grid">
				<div class="row">
					<div class="column" ng-repeat="user in bikeQuality | orderBy:'-ranking'" ng-if="$index < 3">
						<img class="ui small circular image" src="{{user.photo_url}}">
						<div class="ui statistic">
							<div class="value" ng-bind="user.ranking"></div>
							<div class="label">
								<%= __('Avg Ranking1') %>
							</div>
						</div>
					</div>
				</div>
			</div>
			<button ng-click="showRanking()">More</button>
		</div>

		<div class="ui bottom attached tab segment" data-tab="Homework">
			<div class="ui middle aligned centered four column grid">
				<div class="row">
					<div class="column" ng-repeat="user in homeworkQuality | orderBy:'-ranking'" ng-if="$index < 3">
						<img class="ui small circular image" src="{{user.photo_url}}">
						<div class="ui statistic">
							<div class="value" ng-bind="user.ranking"></div>
							<div class="label">
								Avg Ranking
							</div>
						</div>
					</div>
				</div>
			</div>
			<button ng-click="showRanking()">More</button>
		</div>


	</div>
</div>

<div class="ui missionCompleted modal">
	<div class="header"><%= __('Ranking List') %></div>
	<div class="content">
		<table class="ui padded celled center aligned table">
		<thead>
			<th></th>
			<th>User ID</th>
			<th>Missions</th>
		</thead>
		<tbody>
			<tr ng-repeat="tool in modalList">
				<td>
					<img ng-src="{{tool.photo_url}}" class="ui circular tiny image middle aligned">
				</td>
				<td>{{tool.account}}</td>
				<td>{{tool.count}}</td>
			</tr>
		</tbody>
		</table>
	</div>

	<div class="actions">
	    <div class="ui cancel button"><%= __('Cancel') %></div>
	  </div>
</div>

<div class="ui ranking modal">
	<div class="header"><%= __('Ranking List') %></div>
	<div class="content">
		<table class="ui padded celled center aligned table">
		<thead>
			<th></th>
			<th>User ID</th>
			<th>Ranking</th>
		</thead>
		<tbody>
			<tr ng-repeat="tool in modalList | orderBy: '-ranking' ">
				<td>
					<img ng-src="{{tool.photo_url}}" class="ui circular tiny image middle aligned">
				</td>
				<td>{{tool.account}}</td>
				<td>{{tool.ranking}}</td>
			</tr>
		</tbody>
		</table>
	</div>

	<div class="actions">
	    <div class="ui cancel button"><%= __('Cancel') %></div>
	  </div>
</div>
